body {
  max-width: 1180px;
  margin: auto;
  margin: 0 auto 48px;
  padding: 20px;
  box-sizing: border-box;
  font-family: Roboto Slab, Cambria, serif;
  color: #444;
  font-size: 16px;
}

::selection {
  background-color: #444;
  color: #fff;
}

h1 {
  font-weight: 600;
  font-size: 26px;
  line-height: 135%;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 8px;
  margin-top: 8px;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: inherit;

      &:active {
        color: inherit;
      }
    }
  }
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 8px;
  margin-top: 24px;
}

h6 {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: #a5a5a5;
  line-height: 200%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ef8a13;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: #da7a07;
    text-decoration: underline;

    &:active {
      color: #e77e04;
    }
  }

  img {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;

    &:hover {
      opacity: 0.8;
      -webkit-transition: all 0.1s;
      transition: all 0.1s;

      &:hover:active {
        opacity: 1;
      }
    }
  }
}

p {
  font-weight: 400;
  line-height: 165%;
  margin-bottom: 16px;
  margin-top: 0;
}

ul {
  li {
    margin-bottom: 16px;
  }
}

.list-unstyled {
  padding-left: 0;

  li {
    list-style: none;

    &::before {
      display: none;
    }
  }
}

img {
  width: 100%;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hr-sm {
  border-top: 2px solid;
  border-top-color: #ff9c27;
  width: 26px;
  margin-left: 0;
  margin-top: 0;
  border-radius: 2px;
}

.border {
  border: 1px solid #dee2e6;
}

.font-weight-bold {
  font-weight: 600;
}

section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 40px;
  grid-auto-rows: minmax(120px, auto);
  margin-top: 40px;

  img {
    margin-bottom: 16px;
  }
}

section.section-mt-0 {
  margin-top: 0;
}

.sidebar {
  justify-self: end;
  font-style: italic;
  font-weight: 500;
  margin-top: 2px;

  h6 {
    margin-bottom: 0;
    margin-top: 8px;
  }
}

section.section-hero {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-gap: 20px;
  margin-top: 80px;
  margin-bottom: 80px;

  .headline {
    align-self: end;
    font-size: 26px;

    .first-line {
      margin-bottom: 12px;
    }
  }

  .img-hero {
    width: 100%;
    max-width: 300px;
    position: relative;
    top: 80px;
  }
}

section.section-100 {
  display: grid;
  grid-template-columns: 1fr;

  .title-header {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap-reverse;

    h2 {
      margin-right: 16px;
    }
  }
}

// Header & Footer Design

header {
  display: flex;
  align-items: baseline;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;

  .logo {
    font-size: 16px;
    font-weight: 600;
  }

  .link-contact {
    margin-left: auto;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex-wrap: wrap;

    a {
      text-align: right;
      padding-left: 12px;
    }
  }
}

footer {
  display: flex;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 16px;
  align-items: baseline;
  margin-top: 128px;

  p {
    margin: 0;
  }

  .link-contact {
    margin-left: auto;
    text-align: right;

    a {
      text-align: right;
      padding-left: 12px;
    }
  }
}

// Content Layout Design

.content {
}

.content-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

.content-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

  .content {
    padding-right: 20px;
  }
}

// Mobile Layout

@media (max-width: 992px) {
  body {
    max-width: 720px;
  }

  section.section-hero {
    grid-template-columns: 1fr;
    margin-bottom: 40px;

    .headline {
      grid-row: 2;
      font-size: 22px;
    }

    .img-hero {
      grid-row: 1;
      max-width: 200px;
      position: inherit;
    }
  }

  section {
    grid-gap: 0px;
    grid-auto-rows: minmax(20px, auto);
    grid-template-columns: 1fr;
  }

  .sidebar {
    justify-self: normal;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 580px;
  }

  .content-2 {
    grid-template-columns: 1fr;

    .content {
      padding-right: 0;
    }
  }
}
