$colorOrange: #ff9c27;
$colorPurple: #9891fb;
$colorLightGrey: #ebebee;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Noto Sans JP, sans-serif;
  font-size: 16px;
  line-height: 165%;
  color: #383e4e;
}

::selection {
  background-color: #232538;
  color: #fff;
}

// reset

blockquote,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
}

h1 {
  font-size: 52px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  color: #232538;
  line-height: 135%;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  font-family: Khand, Roboto;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  color: #232538;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  font-family: Khand, Roboto;
  letter-spacing: 0.5px;

  &::before {
    background-color: $colorOrange;
    content: '';
    width: 1px;
    position: absolute;
    left: 0;
    top: 3px;
    height: 18px;
  }
}

h4 {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  color: #232538;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  &::before {
    background-color: $colorOrange;
    content: '';
    width: 1px;
    position: absolute;
    left: 0;
    top: 5px;
    height: 14px;
  }
}

h5 {
  font-size: 17px;
  text-transform: uppercase;

  &--orange {
    color: $colorOrange;
  }
}

p {
  font-size: 16px;
  letter-spacing: 0.075px;
}

a {
  color: $colorOrange;
  font-weight: 500;
  transition: color 0.1s;

  &:hover {
    color: #232538;
    transition: color 0.1s;
  }
}

ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: counter;
  position: relative;
  list-style: none;
}

ol li::before {
  content: counter(counter);
  color: $colorOrange;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  --size: 20px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  width: calc(1px + var(--size));
  height: var(--size);
  top: 2px;
  background: rgba(239, 138, 19, 0.2);
  border-radius: 0;
  text-align: center;
}

// Grid column layout

.col-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.col-2-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-4 {
  display: grid;
  grid-template-columns: 4fr;
}

.col-2-1-1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.col-1-2-1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.col-1-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.col-3-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.col-1-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

// Grid row Layout

.row {
  &--0,
  &--xs,
  &--sm,
  &--md,
  &--lg,
  &--xl {
    display: grid;
    grid: auto/minmax(0, 1fr);
  }

  &--0 {
    grid-gap: 0;
  }

  &--xs {
    grid-gap: 8px;
  }

  &--sm {
    grid-gap: 12px;
  }

  &--md {
    grid-gap: 24px;
  }

  &--lg {
    grid-gap: 40px;
  }

  &--xl {
    grid-gap: 96px;
  }
}

.highlight--orange {
  h3::before {
    background-color: $colorOrange;
  }

  h4::before {
    background-color: $colorOrange;
  }

  h5 {
    color: $colorOrange;
  }

  svg {
    color: $colorOrange;
  }
}

.highlight--purple {
  h3::before {
    background-color: $colorPurple;
  }

  h4::before {
    background-color: $colorPurple;
  }

  h5 {
    color: $colorPurple;
  }

  svg {
    color: $colorPurple;
  }
}

// Copy design
.copy {
  &__header &__body {
    padding-left: 16px;
    padding-right: 32px;
  }
}

img {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btn-container {
  display: flex;
  margin-left: 16px;
  align-items: center;

  .btn:not(:first-of-type) {
    margin-left: 10px;
  }
}

.btn {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: -0.25px;
  padding: 10px 40px 10px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  &::after {
    position: absolute;
    transition: 0.3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    background: #232538;
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  &:hover::after {
    width: 120%;
  }
  &--primary {
    position: relative;
    padding: 6px;
    display: flex;
    &::before {
      border: 1px solid rgb(236, 232, 225);
      border-bottom: 0;
      content: '';
      display: block;
      position: absolute;
      height: calc(50% - 8px);
      width: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      box-sizing: border-box;
    }
    &::after {
      border: 1px solid rgb(236, 232, 225);
      border-top: 0;
      content: '';
      display: block;
      position: absolute;
      height: calc(50% - 8px);
      width: 100%;
      left: 0;
      bottom: 0;
      z-index: -1;
      box-sizing: border-box;
    }
  }

  &__arrow {
    padding-left: 6px;
  }

  &--orange {
    color: #fff;
    background-color: $colorOrange;
    z-index: 1;
  }

  &--purple {
    color: #fff;
    background-color: $colorPurple;
    z-index: 1;
  }

  &--transparent {
    color: $colorOrange;
    transition: color 0.15s;

    &:hover {
      background-color: transparent;
      color: #232538;
      transition: color 0.15s;
    }
  }
}

.btn-detail {
  content: '';
  pointer-events: none;
  z-index: 2;
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: #fff;
  &--1 {
    top: 6px;
    left: 6px;
  }
  &--2 {
    bottom: 6px;
    right: 6px;
  }
}

.link {
  font-weight: 500;
  text-decoration: none;

  &--orange {
    color: $colorOrange;
    &:hover {
      color: #232538;
    }
  }

  &--dark {
    color: #232538;
    &:hover {
      color: $colorOrange;
    }
  }
}

.section {
  max-width: 1080px;
  margin: auto;
  z-index: 2;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;

  &--sm {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &--md {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &--lg {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  &--xl {
    margin-top: 192px;
    margin-bottom: 192px;
  }

  &__copy {
    padding-right: 64px;
  }

  &__list {
    margin-left: 16px;
    padding-right: 16px;
  }

  &__listitem {
    margin-bottom: 8px;
  }
  &__header-detail {
    display: flex;
  }
}

.section-casestudy {
  margin-top: 40px;
  margin-bottom: 40px;
}

.navbar {
  display: grid;
  grid-auto-flow: column;
  padding: 16px;
  font-size: 15px;
  max-width: 1080px;
  margin: auto;

  &__logo,
  &__links {
    padding-left: 12px;
    padding-right: 12px;
  }

  &__links {
    justify-self: end;
    text-align: right;

    a {
      margin-left: 12px;
    }
  }
}

.section-hero {
  margin-top: 120px;
  margin-bottom: 40px;

  &__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 110%;
    letter-spacing: 0.5px;
    color: #232538;
    text-transform: uppercase;
    font-family: Khand, Roboto;
  }

  &__copy {
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #383e4e;
  }

  &__img {
    width: 100%;
    max-width: 300px;
    justify-self: end;
    position: relative;

    img {
      position: absolute;
      max-width: 320px;
    }
  }
}

.section-concept {
  margin-top: 64px;

  &__image {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  }
}

.introduction {
  margin-top: 96px;
  padding-top: 0;
}

.case-study-preview {
  &__imagecontainer {
    display: flex;
    align-self: center;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 112px;
      width: 112px;
      top: -12px;
      left: -12px;
      z-index: -1;
      border: 1px solid $colorLightGrey;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: -12px;
      right: -12px;
      z-index: -1;
      border: 1px solid $colorLightGrey;
    }
  }
  &__imagebox {
    position: relative;
    margin: auto;
    width: 100%;
    margin: auto;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      transition: 0.3s;
      width: 0;
      left: 50%;
      bottom: 0;
      background: rgba(35, 37, 56, 0.25);
      height: 120%;
      left: -10%;
      transform: skewX(15deg);
      z-index: 1;
      mix-blend-mode: multiply;
    }
    &:hover::after {
      width: 120%;
    }
    & img {
      width: 100%;
      max-width: 100%;
      transition: all 0.25s;
      display: block;
      height: auto;
      transform: scale(1);
      height: 315px;
      object-fit: cover;
    }

    &:hover img {
      cursor: pointer;
    }
  }
}

.list {
  &__check {
    list-style: none;
    margin: 0;
    padding-left: 16px;
  }

  &__item {
    font-size: 14px;
    position: relative;
    padding-left: 24px;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 5px;
  }
}

.list-unstyled {
  list-style: none;
  padding-left: 16px;
  margin: 0;

  li {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.list-style {
  list-style: none;

  li {
    position: relative;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      left: -22px;
      top: 5px;
      position: absolute;
      background-repeat: no-repeat;
    }
  }

  &--purple {
    li {
      &::before {
        background-image: url(../images/list-style-square-purple.svg);
      }
    }
  }

  &--orange {
    li {
      &::before {
        background-image: url(../images/list-style-square-orange.svg);
      }
    }
  }
}

.header-home {
  position: relative;
  height: 100%;
  padding-bottom: 100px;
  overflow: hidden;
  margin-bottom: -34px;

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: #e8eaee;
    transform: skewY(-8deg);
    transform-origin: top left;
    z-index: -1;
    align-content: end;
    overflow: hidden;
    background: url(../images/background-mid-01.svg) no-repeat center center;
    background-size: cover;
  }

  &__image {
    transform: skewY(8deg);
    max-width: 360px;
    justify-self: end;
    position: relative;
    top: 120px;
  }
}

.headercasestudy {
  &__section {
    margin-top: 16px;
  }

  &__image {
    box-shadow: 0px 24px 48px -24px rgba(0, 0, 0, 0.2),
      0px 40px 80px -16px rgba(73, 73, 73, 0.15);
    border-radius: 4px;
  }
}

.footer {
  position: relative;
  height: 100%;

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8eaee;
    transform: skewY(-8deg);
    transform-origin: bottom right;
    z-index: -1;
    background: url(../images/background-header.svg) no-repeat center center;
    background-size: cover;
  }

  &__content {
    z-index: 1;
    position: relative;
    padding-top: 320px;
  }

  &__navbar {
    padding-top: 192px;
  }
}

.footer-home {
  overflow: hidden;
  margin-bottom: 0;
}

.detail {
  &--1 {
    border-top: 1px solid $colorLightGrey;
    z-index: -1;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    padding-bottom: 20px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 5px;
      width: 5px;
      background-color: $colorLightGrey;
      top: -1px;
    }
  }
  &--2 {
    border-top: 1px solid $colorLightGrey;
    position: relative;
    top: 4px;
    z-index: -1;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    flex-grow: 1;
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 5px;
      width: 5px;
      background-color: $colorLightGrey;
      top: -1px;
      right: 0;
    }
  }
}

@media (max-width: 1024px) {
  .section {
    padding-left: 16px;
    padding-right: 16px;

    &__copy {
      padding-right: 40px;
    }
  }

  .section-hero {
    &__title {
      font-size: 42px;
    }
  }
}

@media (max-width: 768px) {
  .headercasestudy {
    &__section {
      margin-top: 16px;
    }
  }

  .col-2-2 {
    grid-template-columns: 1fr;
    grid-gap: 34px;
  }

  .col-2-2.list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }

  .col-3-1 {
    grid-template-columns: 1fr;
  }

  .header-home {
    &__image {
      display: none;
    }
  }

  .footer {
    padding-top: 34px;
    margin-top: 34px;
    &__content {
      padding-top: 0;
    }
  }

  .footer-home {
    padding-top: 200px;
  }

  .section-hero {
    grid-template-columns: 1fr;
    margin-top: 80px;

    &__img {
      display: none;
    }

    &__title {
      font-size: 34px;
    }
  }

  .section__copy {
    padding-right: 16px;
  }
}
